<!DOCTYPE html>
<html>
    <head>
        <title>Đơn vị</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="surface">
            <div class="container">
                <br>
                <div>
                    <span style="display: inline-block;">
                        <h1>Đơn vị</h1>
                    </span>
                    <button onclick="document.getElementById('modal-wrapper').style.display = 'block'" type="button" class="btn btn-primary create-object">Thêm mới</button>
                    <div id="modal-wrapper" class="modal">
  
                        <div class="modal-content animate">
                          <div>
                            <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                            <br>
                            <h1 style="text-align:center">Thêm Đơn vị</h1>
                            <br>
                          </div>
                      
                          <div class="sub-container">
                            <form action='/controllers/units-controller' method='POST'>
                                <label class="create-label" for="name">Tên đơn vị: </label>
                                <input id="name" class="input-box" name="unitName" required/>
                                <br>
                                <label class="create-label" for="type">Loại đơn vị: </label>
                                <input id="type" class="input-box" name="unitType" required/>
                                <br>
                                <label class="create-label" for="addr">Địa chỉ: </label>
                                <input id="addr" class="input-box" name="address"/>
                                <br>
                                <label class="create-label" for="tel">Điện thoại: </label>
                                <input id="tel" class="input-box" name="phone"/>
                                <br>
                                <label class="create-label" for="web">Website: </label>
                                <input id="web" class="input-box" name="website"/>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </form>
                          </div>
                        </form> 
                    </div>
                </div>
                <br>
                <div style="float: right;">
                    <label for="unit-list" class="label">Loại Đơn Vị: </label>
                    <select value="unit-list" id="myInput">
                        <option value="Bộ môn">Bộ môn</option>
                        <option value="Phòng thí nghiệm">Phòng thí nghiệm</option>
                    </select>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên đơn vị</th>
                                <th>Loại đơn vị</th>
                                <th>Địa chỉ</th>
                                <th>Điện thoại</th>
                                <th>Website</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <% units.forEach((unit) => { %>
                                <tr>
                                    <th><%= unit.name %></th>
                                    <th><%= unit.unit_type %></th>
                                    <th><%= unit.address %></th>
                                    <th><%= unit.phone %></th>
                                    <th><%= unit.website%></th>
                                    <th>
                                        <div class="btn-group">
                                            <button class="btn btn-primary table-edit">Sửa</button>
                                            <button class="btn btn-secondary table-edit">Xóa</button>
                                        </div>
                                    </th>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/myjs.js"></script>
    </body>
</html>